:root {
  --color-white: #fff;
  --color-green: #28a745;
}

body {
  font-family: "Open sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

.h2 {
  font-weight: 300;
  font-size: 38px;
  line-height: 1.26;
}

.container {
  width: 1360px;
  margin: 0 auto;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}
.test {
  background: black;
}

.header {
  position: fixed;
  width: 100%;
  background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0.8)
  );
  padding: 20px 0;
}

.header .container {
  display: flex;
  align-items: center;
  padding: 0 28px;
}

.logo {
  font-weight: 400;
  font-size: 35px;
  line-height: 1.21;
  /* identical to box height, or 121% */

  color: #ffffff;
}

.logo-part {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 35px;
  line-height: 1.21;
  /* identical to box height, or 121% */
  color: #28a745;
}

.header-nav {
  margin-left: auto;
}

.header-nav-list {
  display: flex;
  gap: 40px;
}

.nav-item {
  font-size: 18px;
  line-height: 1.56;
  /* identical to box height, or 156% */
  color: #ffffff;
}
.nav-link {
}

/*about*/
.about {
  background: var(--color-green);
  color: var(--color-white);
}

.about .container {
  display: flex;
}

.about-block {
  width: 50%;
}
.about-content {
  padding: 80px 64px 80px 20px;
}
.about-image {
  height: 100%;
}
.about-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.about-content__subtitle {
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.65;
  color: var(--color-white);
}
.about-content__title {
  margin-bottom: 24px;
}
.about-content__text {
  margin-bottom: 24px;
  line-height: 1.56;
}

.about-content button {
  color: var(--color-white);
  background: transparent;
  padding: 12px 35px;
  border-radius: 5px;
  border: 1px solid var(--color-white);
  cursor: pointer;
}
.about-content button:hover {
  background: var(--color-white);
  color: var(--color-green);
}

.hero {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(../images/hero/hero-bg.jpg);

  background-repeat: no-repeat;
  background-position: center;
  padding-top: 279px;
  padding-bottom: 282px;
}
.hero-container {
  text-align: center;
}
.hero-title {
  font-weight: 300;
  font-size: 55px;
  line-height: 1.2;
  color: #e9e9e9;
  margin-bottom: 24px;
}
.hero-text {
  font-size: 22px;
  line-height: 1.67;
  color: #e9e9e9;
  margin-bottom: 32px;
}
.hero-btn {
  font-size: 22px;
  line-height: 1.67;
  color: #e9e9e9;
  background-color: #28a745;
  border-radius: 5px;
  padding: 9px 28px 10px 30px;
}
