<header class="header">
  <div class="container">
    <a class="logo link" href="./index.html"
    ><img class="logo-image" src="./images/logo.svg" alt="" />
      <span class="logo-part">Finance</span> Ledger</a
    >
    <nav class="header-nav">
      <ul class="header-nav-list list">
        <li class="nav-item"><a class="nav-link link" href=""></a>Home</li>
        <li class="nav-item"><a class="nav-link link" href=""></a>About</li>
        <li class="nav-item"><a class="nav-link link" href=""></a>Cases</li>
        <li class="nav-item"><a class="nav-link link" href=""></a>Blog</li>
        <li class="nav-item">
          <a class="nav-link link" href=""></a>Contact
        </li>
      </ul>
    </nav>
  </div>
</header>
