:root {
  --color-white: #fff;
  --color-green: #28a745;
}

body {
  font-family: "Open sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

.h2 {
  font-weight: 300;
  font-size: 38px;
  line-height: 1.26;
}

.container {
  width: 1360px;
  margin: 0 auto;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}
.test {
  background: black;
}